.features {
	display: flex;
	align-items: center;
	padding: 2rem 0;
	width: 100%;
}

.featureSvg {
	height: 200px;
	width: 200px;
}

.matchedColHeight {
	height: 20rem;
}

@media screen and (max-width: 996px) {
	.matchedColHeight {
		height: auto;
	}
}
