.container {
	display: flex;
	flex-direction: column;
	gap: 0.5em;

	margin-bottom: var(--ifm-paragraph-margin-bottom);

	> .docBg, > hr, > p {
		border-radius: 0.5em;
		padding: 0.5em;

		&:nth-child(even) {
			background-color: color-mix(in srgb, var(--ifm-color-info) 10%, transparent);
		}

		&:nth-child(odd) {
			background-color: color-mix(in srgb, var(--ifm-color-primary) 10%, transparent);
		}
	}

	> p {
		background-color: color-mix(in srgb, var(--ifm-color-secondary) 10%, transparent) !important;
		margin: 0;
	}

	> hr {
		margin: 0 0.5em;
		padding: 0;
		height: 2px;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.row {
	display: flex;
	flex-direction: row;
	gap: 0.5em;
}

.col {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.head {
	font-size: 1.25em;
	font-weight: bold;
}

.headMed {
	font-size: 1.125em;
	font-weight: bold;
}

.indent {
	margin-left: 1em;
	margin-right: 1em;

	p {
		&:not(:last-child) {
			margin: 0 0 0.5em;
		}
	}
}

.args {
	.arg {
		padding-bottom: 0.5em;

		&:last-child {
			padding-bottom: 0;
		}
	}
}
