.detailsContainer:not(:first-child) {
	margin-top: var(--ifm-paragraph-margin-bottom);
}

.detailsContainer {
	display: flex;
	flex-direction: column;
	gap: 0.75em;

	margin-bottom: var(--ifm-paragraph-margin-bottom);

	details {
		margin: 0;
		padding: 0;

		background-color: color-mix(in srgb, var(--ifm-color-secondary) 35%, transparent) !important;

		border-radius: 0.5em;
	}

	summary {
		background-color: color-mix(in srgb, var(--ifm-color-secondary) 35%, transparent) !important;
		padding: 0.5em;
		border-radius: 0.5em;
		margin: 0;
		cursor: pointer;

		font-size: 1.125em;
		font-weight: bold;
	}

	details[open] summary {
		border-bottom: 0.1em solid var(--ifm-color-secondary);
		margin-bottom: var(--ifm-paragraph-margin-bottom);
		border-radius: 0.5em 0.5em 0 0;
	}

	details > .detailsInner {
		padding-left: var(--ifm-paragraph-margin-bottom);
		padding-right: var(--ifm-paragraph-margin-bottom);
		padding-bottom: var(--ifm-paragraph-margin-bottom);
	}

	> .docBg, > hr, > p, p.docBg {
		padding: 0.5em;
	}

	> p {
		margin: 0;
	}

	p.docBg {
		margin-top: 0.5em !important;
		margin-bottom: 1em !important;
		padding: 0.5em;
	}

	> hr {
		margin: 0 0.5em;
		padding: 0;
		height: 2px;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.detailsSummary, .detailsBg {
	background-color: color-mix(in srgb, var(--ifm-color-secondary) 35%, transparent) !important;
	padding: 0.5em;
	border-radius: 0.5em;
	margin-bottom: var(--ifm-paragraph-margin-bottom);
	cursor: pointer;
}

.detailsBg .detailsSummary {
	background: none !important;
	padding: revert;
	border-radius: 0;
	margin-bottom: 0;
}

.detailsBg[open] > .detailsSummary,
.details[open] > .detailsSummary {
	margin-bottom: 0.75em;
}

.details {
	margin-bottom: 0;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 0.5em;

	margin-bottom: var(--ifm-paragraph-margin-bottom);

	> .docBg, > hr, > p, p.docBg {
		border-radius: 0.5em;
		padding: 0.5em;

		&:nth-child(even) {
			background-color: color-mix(in srgb, var(--ifm-color-info) 10%, transparent);
		}

		&:nth-child(odd) {
			background-color: color-mix(in srgb, var(--ifm-color-primary) 10%, transparent);
		}
	}

	> p {
		background-color: color-mix(in srgb, var(--ifm-color-secondary) 10%, transparent) !important;
		margin: 0;
	}

	p.docBg {
		background-color: color-mix(in srgb, var(--ifm-font-color-inverted) 50%, transparent) !important;
		margin-top: 0.5em !important;
		margin-bottom: 1em !important;
		padding: 0.5em;
	}

	> hr {
		margin: 0 0.5em;
		padding: 0;
		height: 2px;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.row {
	display: flex;
	flex-direction: row;
	gap: 0.5em;
}

.col {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.col .col:not(:last-child) {
	margin-bottom: 1em;
}

.head {
	font-size: 1.25em;
	font-weight: bold;
}

.headMed {
	font-size: 1.125em;
	font-weight: bold;
}

div.head, div.headMed, div.likeCode {
	display: flex;
	padding: 0.15em 0.5em;
	color: var(--ifm-color-secondary-text);
	background-color: var(--ifm-code-background);
	border: 0.1rem solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	align-items: center;
}

.indent {
	margin-left: 1em;
	margin-right: 1em;

	p {
		&:not(:last-child) {
			margin: 0 0 0.5em;
		}
	}
}

.docBg > .indent > *:last-child {
	margin-bottom: calc(var(--ifm-paragraph-margin-bottom) / 2);
}

.args {
	.arg {
		padding-bottom: 0.5em;

		&:last-child {
			padding-bottom: 0;
		}
	}
}
