.row, .fixedRow {
	display: flex;
	flex-direction: row;
	gap: 0.5em;
}

.col {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

@media screen and (max-width: 996px) {
	.row.collapse {
		flex-direction: column;
		gap: 0.25em;
	}
}
