.card {
	box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 15%);
	border: 1px solid var(--ifm-color-emphasis-200);

	padding: 1.25rem;
	width: fit-content;

	> p, > ul, > ol {
		margin: 0;
	}
}

.cardRow {
	gap: 1rem;

	margin-left: 0.75rem;
	margin-right: 0.75rem;
}
