.full {
	width: 100%;
	pointer-events: none;
	display: flex;
	position: fixed;
	bottom: 1em;
	z-index: 2000;
}

.note {
	pointer-events: auto;
	width: 20em;
}

.note * {
	pointer-events: auto;
}

.header {
	font-weight: bold;
}

.grow {
	flex-grow: 1;
}

.row {
	display: flex;
	flex-direction: row;
}

.bottom {
	margin-top: 0.5em;
}
